.chart path {
  fill: none;
  stroke: black;
  stroke-width: 4px;
}

.markerLine {
  stroke: black;
  stroke-width: 1px;
}

.xAxis, .yAxis {
  path {
    display: none;
  }

  :global(.tick) line {
    color: #bbbbbb;
  }

  :global(.tick) text {
    fill: #565655;
    font-size: 16px;
  }
}

.chartLabel {
  font-size: 24px;
}

.yAxisLabel {
  fill: #555555;
  font-size: 20px;
}
