.chart path {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}

.chart path.country,
.chart path.activeCountry {
  stroke-width: 2px;
}

.chart path.voronoiCell {
  pointer-events: all;
  fill: none;
  stroke: none;
}

.chart path.activeCountry {
  stroke: black;
}

.markerLine {
  stroke: black;
  stroke-width: 1px;
}

.xAxis, .yAxis {
  path {
    display: none;
  }

  :global(.tick) line {
    color: #c1c1c1;
  }

  :global(.tick) text {
    fill: #565655;
    font-size: 16px;
  }
}

.chartLabel {
  font-size: 24px;
}

.yAxisLabel {
  fill: #555555;
  font-size: 20px;
}
