.headerContainer {
  padding: 8px;

}

.navLink {
  display: inline-block;
  margin-left: 8px;
  height: 40px;
  text-align: center;
  padding: 8px;
  background-color: rgb(130, 220, 120);
}

.navLinkActive {
  background-color: rgba(130, 256, 120);
}

.headerLink {

}
